<li class="friends__item friend" id="friend_{{id}}" data-user_id="{{ id }}" draggable="true">
  <div class="friend__wrapper">
    <div class="friend__img-wrapper">
      <img src="{{ photo_50 }}" alt="{{first_name}} {{last_name}}" class="friend__photo" draggable="false">
    </div>
    <div class="friend__name-wrapper">
      <span class="friend__name">{{first_name}} {{last_name}}</span>
    </div>
    <div class="friend__add">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
  </div>
</li>